.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.navbar {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.navbar-links {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.navbar-items {
  margin-right: 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.images {
  border-radius: 5px;
  width: 100%;
}

.margin-top {
  margin-top: 1rem;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.align-center {
  align-items: center;
}

.column-full,
.column-half,
.column-edit {
  width: 100%;
}

.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.li-space {
  margin: 0 0 2rem;
}

.no-padding {
  padding: 0;
}

.modal-container {
  width: 400px;
  background-color: white;
  border-radius: 5px;
  margin: auto;
  padding: 1rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 5px 0;
}

.margin-auto {
  margin: 1rem 0;
}

@media screen and (min-width: 768px) {
  .container,
  .navbar {
    max-width: 1200px;
  }

  .column-full,
  .column-half,
  .navbar-links {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }
}
