body {
  font-family:
    "Lucida Sans",
    "Lucida Sans Regular",
    "Lucida Grande",
    "Lucida Sans Unicode",
    Geneva,
    sans-serif;
  line-height: 1.6;
  background-color: rgb(243, 243, 243);
}

header {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, sans-serif;
}

label {
  font-size: 1rem;
  font-weight: bold;
}

.navbar {
  background-color: rgb(75, 35, 115);
  color: white;
}

.smaller-font {
  font-size: 0.8rem;
}

.no-margin {
  margin: 0;
}

i {
  font-size: 1.5rem;
  color: rgb(75, 35, 115);
  opacity: 80%;
}

i:hover {
  opacity: 100%;
  cursor: pointer;
}

input,
textarea {
  border-radius: 3px;
  border-color: rgb(175, 175, 175);
  font-size: 1rem;
  padding: 5px;
  width: 100%;
  resize: none;
  font-family:
    "Lucida Sans",
    "Lucida Sans Regular",
    "Lucida Grande",
    "Lucida Sans Unicode",
    Geneva,
    sans-serif;
}

textarea:focus,
input:focus {
  outline: none;
  border: solid 3px rgb(75, 35, 115);
}

button:hover,
a:hover {
  cursor: pointer;
}

.no-entries {
  font-weight: 200;
  text-align: center;
  margin-top: 5rem;
}

.button {
  background-color: rgb(75, 35, 115);
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  border-style: none;
  margin-bottom: 1rem;
  text-decoration: none;
}

.a-button {
  background-color: rgb(75, 35, 115);
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  border-style: none;
  margin-bottom: 1rem;
  text-decoration: none;
}

.navbar-button {
  color: white;
  text-decoration: none;
}

.hidden-button {
  visibility: hidden;
}

.delete-button {
  color: red;
  text-decoration: underline;
  border-style: none;
  text-decoration-skip-ink: none;
}
